{% extends 'base.html' %}

{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}

<form method='POST'>
    {% csrf_token %}
    課程：{{ cf.form.courseName }}
    教授：{{ cf.form.professor }}
    <input type="submit" class="btn btn-primary" value="查詢" />
</form>
<br />
<table class="table">
    <thead>
        <th>編號</th>
        <th>課程</th>
        <th>教授</th>
        <th>學期</th>
    </thead>
    <tbody>
            {% for i in cf.qs %}
                {% for j in resp %}
                <tr>
                    {% if i.id == j.course.id %}
                    <td>{{ j.id }}</td>
                    <td>{{ i.courseName }}</td>
                    <td>{{ i.professor }}</td>
                    <td>{{ i.semester }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endfor %}
    </tbody>
</table>
{% endblock  %}
